<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top navbar-default">
  <a class="navbar-brand" href="#">
    SP Studio
  </a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <i class="fa fa-bars" aria-hidden="true"></i>    </button>
 <div class="collapse navbar-collapse"[ngClass]="{'show': navbarOpen}">
  <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
      </li>

      <li class="nav-item">
          <a class="nav-link active" routerLink="/about" routerLinkActive="active" >About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/wedding" >Wedding</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="" >Studio Photos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="" >Events</a>
</li>
<li class="nav-item">
  <a class="nav-link" routerLink="/contact" >Contact</a>
</li>
    </ul>
  </div>
</nav>

   <!-- <section>
    <img
    src="https://pro2-bar-s3-cdn-cf3.myportfolio.com/982fd6f0-2e6a-4b56-bf64-c22855a340e1/4743eefa-f2b1-4da6-80a4-c388d5647391_rw_1920.jpg?h=344d5d209b0ffcea10633e016039be04"
    alt="Dancer"
    width="816" height="600">
</section> -->
<!-- <div class="post-container">
    <div class="post-thumb"><img src="https://images.unsplash.com/photo-1542038784456-1ea8e935640e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" /></div>
    <div class="post-content">
        <h3 class="post-title">About Me</h3>
        <p>
          Brought up in Mumbai City, ‘Photographer Name’ has been shooting life’s most wonderful minutes in the Big Apple and past for over 10 years. Her affection for this city and the mixture of differing societies drives her enthusiasm for shooting wedding festivities of different types.
        </p>
      </div>
</div> -->
<!-- <div class="row">
  <div class="containers col-lg-6 col-md-6">

    <div class="pic">

    </div>

    <div class="box1"></div>
    <div class="box2"></div>

    <div class="social1">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </div>
    <div class="social2">
    <i class="fa fa-dribbble" aria-hidden="true"></i>
    </div>
    <div class="social3">
      <i class="fa fa-codepen" aria-hidden="true"></i>
    </div>

  </div>

  <div class="content col-md-offset-6 col-lg-offset-6">
    <h1 class="about">ABOUT ME</h1>
<div class="right">
    <h2>Hi Folks, <br/><br/>
      This is Shaik Maqsood. I'm a Freakin frontend developer, jus came up with this concept of having a 45<sup>o</sup> trasformed DIV with a -45<sup>o</sup> background.<br/><br/>
      Can't belive that it worked.
      <br/><br/>
      Show your L<span>&hearts;</span>VE if you like my pen.
      <br/><br/>
      <p>(NOTICE: The lady in the PIC is not me, I'm a guy :P)</p>
      <p><span style="text-align:right; color:#000000; font-size:18px;">* No matter what u say, that gal is sorta cute.</span></p>
    </h2>
 </div>
  </div>
  </div> -->

  <div class="container">
 <div class="mission">

       <div class="left">
          <img src="https://images.unsplash.com/photo-1542038784456-1ea8e935640e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
       </div>
         <div class="right">
          <h1>Mission Statement</h1>
          <hr>
          <p>Brought up in Mumbai City, ‘Photographer Name’ has been shooting life’s most wonderful minutes in the Big Apple and past for over 10 years. Her affection for this city and the mixture of differing societies drives her enthusiasm for shooting wedding festivities of different types.
          </p>

                   <p>          Brought up in Mumbai City, ‘Photographer Name’ has been shooting life’s most wonderful minutes in the Big Apple and past for over 10 years. Her affection for this city and the mixture of differing societies drives her enthusiasm for shooting wedding festivities of different types.</p>

       </div>
       <div class="clear"></div>

    </div>



        <!-- <div class="team">
       <h1> Our Team<hr></h1>



       <div  class="card">
          <div class="circle-container">
             <h1 style="color:#fff;">M</h1>
          </div>
          <h2>Mahesh E U</h2>
          <h4>Technical Lead</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
       </div>



       <div class="card">
          <div class="circle-container">
             <h1 style="color:#fff;">M</h1>
          </div>
          <h2>Mridul</h2>
          <h4>Evangelist</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
       </div>



       <div class="card">
          <div class="circle-container">
             <h1 style="color:#fff;">R</h1>
          </div>
          <h2>Rajesh</h2>
          <h4>Evangelist</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
       </div>



       <div class="card">
         <div class="circle-container">
             <h1 style="color:#fff;">B</h1>
          </div>
          <h2>Bharti</h2>
          <h4>Evangelist</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
       </div>

              <div class="card">
          <div class="circle-container">
             <h1 style="color:#fff;">A</h1>
          </div>
          <h2>Anhsuman</h2>
          <h4> Advisor</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
       </div>



       <div class="card">
         <div class="circle-container">
             <h1 style="color:#fff;">S</h1>
          </div>
          <h2>Shruti</h2>
          <h4> Advisor</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
       </div>


    </div> -->


 </div>

