<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top navbar-default">
  <a class="navbar-brand" href="#">
    SP Studio
  </a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <i class="fa fa-bars" aria-hidden="true"></i>    </button>
 <div class="collapse navbar-collapse"[ngClass]="{'show': navbarOpen}">
  <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/wedding" >Wedding</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="" >Studio Photos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="" >Events</a>
</li>
<li class="nav-item">
  <a class="nav-link active" routerLink="/contact" routerLinkActive="active">Contact</a>
</li>
    </ul>
  </div>
</nav>

<!-- <div class="container">

  <div class="contact-about">


  <div class="row">


    <div class="col-lg-5 col-md-8">
<form  [formGroup] = "contatForm" role="form"  (ngSubmit)="contactForm(contatForm.value)">
<div class="selected-text">
        <div class="form-group">
          <input type="text" formControlName="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
          <div class="validate"></div>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" formControlName="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
          <div class="validate"></div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
          <div class="validate"></div>
        </div>
        <div class="form-group">
          <textarea class="form-control" formControlName="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
          <div class="validate"></div>
        </div>
        <div class="mb-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit" [disabled]="!contatForm.valid">Send Message</button></div>
    </div>
      </form>
    </div>

  </div>
  <div class="col-lg-4 col-md-4">
    <div class="contact-about">
      <div class="social-links">
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </div>
  </div>
</div>  -->

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top navbar-default">
  <a class="navbar-brand" href="#">
SP Studio
  </a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <i class="fa fa-bars" aria-hidden="true"></i>    </button>
 <div class="collapse navbar-collapse"[ngClass]="{'show': navbarOpen}">
  <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" routerLink="/about" >About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/wedding">Wedding</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="" >Studio Photos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="" >Events</a>
</li>
<li class="nav-item">
  <a class="nav-link" routerLink="/contact" routerLinkActive="active" >Contact</a>
</li>
    </ul>
  </div>
</nav> -->

<!-- demo -->
<br>
<!-- <section id="contact">

<h1 class="section-header">CONTACT US</h1>

<div class="contact-wrapper">



  <form class="form-horizontal" role="form" method="post" [formGroup] = "contatForm" (ngSubmit)="contactForm(contatForm.value)">

    <div class="form-group">
      <div class="col-sm-12">
        <input type="text" class="form-control" id="name" placeholder="NAME" formControlName="name" name="name" value="">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <input type="email" class="form-control" id="email" formControlName="email" placeholder="EMAIL" name="email" value="">
      </div>
    </div>

    <textarea class="form-control" rows="10" placeholder="MESSAGE" formControlName="message" name="message"></textarea>

    <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND" [disabled]="!contatForm.valid">
      <div class="button">
        <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
      </div>

    </button>

  </form>



    <div class="direct-contact-container">

      <ul class="contact-list">
        <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">Mumbai | India</span></i></li>

        <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:1-212-555-5555" title="Give me a call">98102</a></span></i></li>

        <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#" title="Send me an email">emailme@gmail.com</a></span></i></li>

      </ul>

      <hr>
      <ul class="social-media-list">
        <li><a href="#" target="_blank" class="contact-icon">
          <i class="fa fa-github" aria-hidden="true"></i></a>
        </li>
        <li><a href="#" target="_blank" class="contact-icon">
          <i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
        <li><a href="#" target="_blank" class="contact-icon">
          <i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
       </ul>
      <hr>


    </div>

</div>

</section>   -->


<div class="wrapper">
     <div class="overlay">
      <div class="row d-flex justify-content-center align-items-center">
          <div class="col-md-9">
              <div class="contact-us text-center">
                <div class="title-box text-center">
          <h3 class="title-a">
            Contact Us
          </h3>
        </div>
                  <p class="mb-5"></p>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="info">
<div>
<h3>Send Message</h3>
</div>
<div class="mt-4 inputs">
<form   [formGroup] = "contatForm" (ngSubmit)="contactForm(contatForm.value)">

                      <input type="text" class="form-control" formControlName="name" placeholder="Name">
                      <input type="email" class="form-control" placeholder="Email" formControlName="email">
                      <textarea class="form-control" placeholder="Type your message" formControlName="message"></textarea>
                      <button class="btn btn-dark" id="submit" type="submit" [disabled]="!contatForm.valid">Send</button>
                </form>
               </div>

               </div>

         </div>
                      <!-- <div class="col-md-6">
                          <div class="info">
                              <div class="d-flex flex-row align-items-center"> <span class="icons"><i class="fa fa-map-marker"></i></span>
                                  <div class="address text-left"> <span>Address</span>
                                      <p> Mumbai, India</p>
                                  </div>
                              </div>
                              <div class="d-flex flex-row align-items-center mt-3"> <span class="icons"><i class="fa fa-phone"></i></span>
                                  <div class="address text-left"> <span>Phone</span>
                                      <p></p>
                                  </div>
                              </div>
                              <div class="d-flex flex-row align-items-center mt-3"> <span class="icons"><i class="fa fa-envelope-o"></i></span>
                                  <div class="address text-left"> <span>Address</span>
                                      <p></p>
                                  </div>
                              </div>

                          </div>

                      </div> -->


                        <ul class="social-media-list">
                          <hr>

   <li><a href="#" target="_blank" class="contact-icon">
     <i class="fa fa-facebook" aria-hidden="true"></i></a>
   </li> &nbsp;&nbsp;
   <li><a href="#" target="_blank" class="contact-icon">
     <i class="fa fa-instagram" aria-hidden="true"></i></a>
   </li>
  </ul>
  <hr>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
